{%extends 'registration/base.html'%} {%load bootstrap4 %} {%block content%}
<div class="container col d-flex justify-content-center" style="padding-top: 100px;">
    <div class="row">
    
    <div class="col-md-9">

        <!-- <img class="card-img-top" src="https://files.slack.com/files-pri/T077KKCG6-FP9LYH36X/insta6.png" alt="" style="height:auto;width:100%"> -->
    </div>
    </div>
    <div class="card  " style="width: 18rem;">
        <div class="card-header">
            <center>
              <!-- <h1 class="logo">  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png" alt="" style="width:135px"></h1> -->
                <p>Sign up to Awwwards</p>
    
            </center>
    
        </div>
        <div class="card-body">
            <form action="/accounts/register/" method="post">
                {% csrf_token %} {% bootstrap_form form layout='inline'%}
                <p>
                    {{ field.label_tag }}
                    <br> {{ field }} {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Sign Up">
                </div>
                 Have an account already?
                <a href="/accounts/login">Login</a>
                <input type="hidden" name="next" value="{{next}}">

            </form>
        </div>
    </div>

</div>
</div>
</div>
{%endblock%}